<!-- .views/partial/adminSidebar.ejs/ -->
<aside class="w-64 h-screen bg-gray-900 text-white fixed top-0 left-0 shadow-lg z-40 hidden lg-block">
    <div class="text-xl p-6 font-bold border-b border-gray-800">
        <a href="/admin" class="hover:text-yellow-400 transition">Admin Panel</a>
    </div>
    <nav class="mt-4 space-y-2 px-6">
        <a href="/" class="block py-2 px-3 rounded hover:bg-gray-800">Home</a>
        <a href="/cities" class="block py-2 px-3 rounded hover:bg-gray-800">All cities</a>
        <a href="/countries" class="block py-2 px-3 rounded hover:bg-gray-800">All countries</a>
        <a href="/admin/cities" class="block py-2 px-3 rounded hover:bg-gray-800">Manage cities</a>
        <a href="/admin/countries" class="block py-2 px-3 rounded hover:bg-gray-800">Manage countries</a>
        <a href="/admin/users" class="block py-2 px-3 rounded hover:bg-gray-800">Manage Users</a>
        <a href="/dashboard" class="block py-2 px-3 rounded hover:bg-gray-800">User dashboard</a>
        <a href="/logout" class="block py-2 px-3 rounded hover:bg-gray-800 text-red-400">Logout</a>
    </nav>
</aside>