<!-- .views/partial/header.ejs/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/images/city-explorer-logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-o9N1j7kGhtH+UVz1a9BLC3i5dv7Wb9CR4Pz+DQaAxP0="
    crossorigin=""
    />
    <script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-V4Z+8EJBr5EeU4e8v9cI9KyI9s99MZGLzN+eZfC1Pnw="
    crossorigin=""
    ></script>
    <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />

    <!-- Leaflet JS -->
    <script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    defer
    ></script>
    <link href="/css/output.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

    <script defer src="/js/main.js"></script>
    <title>Kign Global Explorer</title>
</head>
<body>
    

